@model OA.WebApp.ViewModels.JournalDto
@{
    ViewData["Title"] = "日记账";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>日记账</h1>

<h4>新 增</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EntrySave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="RecordDate" class="control-label"></label>
                <div class="input-group date" id="RecordDate-datetimepicker">
                    <input class="form-control" name="RecordDate">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" required="" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
