<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - OA.WebApp</title>

    <environment include="Development">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
        <!-- bootstrap-daterangepicker -->
        <link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        @*<!-- bootstrap-treeview -->
        <link href="~/vendors/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet" />*@

        <!-- Custom Theme Style -->
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/custom.min.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

        <!-- bootstrap-progressbar -->
        <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
        <!-- JQVMap -->
        <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
        <!-- bootstrap-daterangepicker -->
        <link href="~/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        @*<!-- bootstrap-treeview -->
        <link href="~/vendors/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet" />*@

        <!-- Custom Theme Style -->
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/custom.min.css" rel="stylesheet">
    </environment>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <partial name="_sidebar" />

            <partial name="_top_nav" />

            @*<partial name="_CookieConsentPartial" />*@

            <!-- page content -->
            <div class="right_col" role="main">

                @RenderBody()

            </div>
            <partial name="_footer" />
        </div>
    </div>
    <environment include="Development">
        <!-- jQuery -->
        <script src="~/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="~/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="~/vendors/Flot/jquery.flot.js"></script>
        <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="~/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/vendors/moment/min/moment.min.js"></script>
        <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        @*<script src="~/vendors/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>*@

        <!-- Custom Theme Scripts -->
        <script src="~/js/custom.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- jQuery -->
        <script src="~/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <script src="~/vendors/skycons/skycons.js"></script>
        <!-- Flot -->
        <script src="~/vendors/Flot/jquery.flot.js"></script>
        <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="~/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/vendors/moment/min/moment.min.js"></script>
        <script src="~/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        @*<script src="~/vendors/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>*@

        <!-- Custom Theme Scripts -->
        <script src="~/js/custom.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
