@model OA.WebApp.Models.Journal
@{
    ViewData["Title"] = "日记账";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>新 增 应 收</h1>

<hr />

    @ViewData["text"]
<div class="row">
    <div class="col-md-4">
        <form asp-action="Entry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecordDate" class="control-label"></label>
                <div class="input-group date" id="RecordDate-datetimepicker">
                    <input class="form-control" name="RecordDate">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <input asp-for="ClientID" class="form-control" />
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrowing" class="control-label"></label>
                <input asp-for="Borrowing" class="form-control" />
                <span asp-validation-for="Borrowing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Deleted" /> @Html.DisplayNameFor(model => model.Deleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
